@import '../task/task.scss';
@import '../demographic-survey/demographic-survey.scss';

.main {
  #sample-task {
    display: none;
    #instructions-demo {
      border: 1px solid black;
      margin-bottom: 10px;
    }
    .instructions-img {
      width: 100%;
    }
  }

  header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
  }

  main {
    margin-bottom: 16px;
  }

  footer {
    margin-top: auto;
    border-top: 1px solid lightgray;
    text-align: center;
    font-size: 75%;
  }

  #progress-bar {
    width: 100%;
  }

  #experiment {
    display: none; /* start hidden but will become flex */

    text-align: center;

    #button-row {
      margin-top: 16px;
      width: 100%;

      > * {
        margin: 0 auto;
        display: block;
      }

      > *:first-child {
        margin-left: 0;
      }

      > *:last-child {
        margin-right: 0;
      }
    }
  }

  #final-task-fields {
    display: none;
  }

  #submit-button {
    margin-left: auto;
    display: block;
  }
}
